{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}
<div class="row" style="margin-bottom: 20px;">
    {% for active in actives %}
        <div class="col-lg-6" style="margin-bottom: 20px;">
        <img class="thumbnail" src="{{active.imageURL}}">
        <div class="box-element product">
            <h5><strong>{{active.name}}</strong></h5>
            <hr>
            <a class="btn btn-outline-primary" href="{% url 'edit' active.photo_id %}" ><strong>Edytuj</strong>
            </a>
            <a class="btn btn-outline-danger" href="{% url 'delete' active.photo_id %}"><strong>Usuń</strong></a>
            <h3 style="display:inline-block; float:right;">{{active.price|floatformat:2}}zł</h3>
        </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
