{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="card">
        <form>
          <div class="mb-3">
              <label for="PhotoFile" class="form-label">Wybierz obraz do oferty</label>
              <input class="form-control" type="file" id="PhotoFile">
          </div>
            <br>
          <div class="form-group">
            <label for="Username">Podaj swoją nazwę użytkownika</label>
            <input type="email" class="form-control" id="Username">
          </div>
          <br>
          <div class="form-group">
            <label for="PhotoName">Nazwa zdjęcia</label>
            <input type="email" class="form-control" id="PhotoName">
          </div>
            <br>
            <div class="form-group">
            <label for="PhotoPrice">Cena</label>
            <input type="email" class="form-control" id="PhotoPrice">
          </div>
            <br>
          <div class="form-group">
            <label for="PhotoDestiny">Wybierz zastosowanie obrazu</label>
            <select class="form-control" id="PhotoDestiny">
              <option>Komercyjne z ograniczeniami</option>
              <option>Komercyjne bez ograniczeń</option>
              <option>Prywatne</option>
            </select>
          </div>
            <br>
          <div class="form-group">
            <label for="PhotoDescription">Opis obrazu</label>
            <textarea class="form-control" id="PhotoDescription" rows="3"></textarea>
          </div>
            <br>
            <button type="button" class="btn btn-secondary">Dodaj ofertę</button>

        </form>
    </div>
</div>
{% endblock content %}
