{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">

      <div class="card">
          <form>
            <div class="mb-3">
                <label class="form-label">Wybierz obraz do oferty</label>
                <br>
                {{image_form.image}}
            </div>
              <br>
            <div class="form-group">
              <label>Podaj swoją nazwę użytkownika</label>
              <br>
              {{image_form.username}}
            </div>
            <br>
            <div class="form-group">
              <label>Nazwa zdjęcia</label>
              <br>
              {{image_form.name}}
            </div>
              <br>
              <div class="form-group">
              <label>Cena</label>
              <br>
              {{image_form.price}}
            </div>
              <br>
            <div class="form-group">
              <label>Wybierz zastosowanie obrazu</label>
              <br>
              {{image_form.usage}}
            </div>
              <br>
            <div class="form-group">
              <label>Opis obrazu</label>
              <br>
              {{image_form.description}}
            </div>
              <br>
              <input class="btn btn-secondary" type="submit" value="Dodaj Ofertę">

          </form>
        {% if messages %}
          {% for message in messages %}
          <p class="succes">{{message}}</p>
          {% endfor %}
        {% endif %}
      </div>
  </div>
</form>

{% endblock content %}
