{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder1.jpg' %}">
            <div class="box-element product">
                <h5><strong>{{product.name}}</strong></h5>
                <hr>
                <a class="btn btn-outline-secondary" href="{% url 'buy' %}" ><strong>Zaproponuj kupno</strong></a>
                <a class="btn btn-outline-success" href="{% url 'product' %}"><strong>Zobacz</strong></a>
                <h3 style="display:inline-block;float: right">${{product.price|floatformat:2}}</h3>

            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
