<!DOCTYPE html>
{% load static %}
<style>
    #welcome-msg{
    font-size: 20px;
    margin-right: 20px
    }


</style>

<html>

<head>
    <title>PhotoMarketplace</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

</head>

<body>

    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd; margin-bottom: 20px;">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'mainpage' %}" style="text-decoration-line: underline; text-decoration-color:#3FA2DE; text-decoration-style: double; font-family: Courier New, monospace;"><strong>Photo Marketplace</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0">
            <li class="nav-item pill-1">
              <a class="nav-link {% if page_name == 'mainpage' %} active {% endif %}" aria-current="page" href="{% url 'mainpage' %}">Główna</a>
            </li>
            <li class="nav-item pill-1">
              <a class="nav-link {% if page_name == 'active' %} active {% endif %}" aria-current="page" href="{% url 'active' %}">Twoje oferty</a>
            </li>
            <li class="nav-item pill-1">
              <a class="nav-link {% if page_name == 'madeoffers' %} active {% endif %}" aria-current="page" href="{% url 'madeoffers' %}">Złożone oferty <span class="badge badge-light" style="background-color:#3FA2DE">{{sended_offers}}</span></a>
            </li>
            <li class="nav-item pill-1">
              <a class="nav-link {% if page_name == 'messages' %} active {% endif %}" aria-current="page" href="{% url 'messages' %}">Otrzymane oferty <span class="badge badge-light" style="background-color:#3FA2DE">{{recived_offers}}</span></a>
            </li>
            <li class="nav-item pill-1">
              <a class="nav-link {% if page_name == 'create' %} active {% endif %}" aria-current="page" href="{% url 'create' %}">Stwórz ofertę</a>
            </li>
          </ul>

            <span id="welcome-msg">Cześć, {{request.user}}   </span>
            <span><a href="{% url 'logout' %}" class="btn btn-secondary">Wyloguj</a></span>


        </div>
      </div>
    </nav>

    <div class="container">
        <br>
        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>
