{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-bottom: 20px;">
        {% for product in products %}
        <div class="col-lg-4" style="margin-bottom: 20px;">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h5><strong>{{product.name}}</strong></h5>
                <hr>
                <a class="btn btn-outline-secondary" href="{% url 'buy' product.photo_id %}" ><strong>Zaproponuj kupno</strong></a>
                <a class="btn btn-outline-success" href="{% url 'product' product.photo_id  %}"><strong>Zobacz</strong></a>
                <h3 style="display:inline-block; float:right;">{{product.price|floatformat:2}}zł</h3>

            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
