{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}
    <div class="row">

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h5><strong>Product</strong></h5>
                <hr>
                <a class="btn btn-outline-secondary" href="{% url 'buy' %}" ><strong>Zaproponuj kupno</strong></a>
                <a class="btn btn-outline-success" href="{% url 'product' %}"><strong>Zobacz</strong></a>
                <h3 style="display:inline-block;float: right">50zł</h3>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h5><strong>Product</strong></h5>
                <hr>
                <a class="btn btn-outline-secondary" href="{% url 'buy' %}" ><strong>Zaproponuj kupno</strong></a>
                <a class="btn btn-outline-success" href="{% url 'product' %}"><strong>Zobacz</strong></a>
                <h3 style="display:inline-block;float: right">50zł</h3>
            </div>

        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h5><strong>Product</strong></h5>
                <hr>
                <a class="btn btn-outline-secondary" href="{% url 'buy' %}" ><strong>Zaproponuj kupno</strong></a>
                <a class="btn btn-outline-success" href="{% url 'product' %}"><strong>Zobacz</strong></a>
                <h3 style="display:inline-block;float: right">50zł</h3>
            </div>
        </div>

    </div>

{% endblock content %}
