{% extends 'marketplace/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="card">
      <img src="{{product.imageURL}}" style="width:100%; border-radius:3%;">
        <br>
      <h2>{{product.name}}</h2>
      <p class="price">{{product.price|floatformat:2}} zł</p>
      <p class="text">
          Autor: {{product.username}}
          <br>
          Zastosowanie: {{usage}}
          <br>
          <br>
          {{product.description}}
      </p>
      <a type="button" class="btn btn-outline-success" href="{% url 'buy' product.photo_id %}" >Zaproponuj kupno</a>'
    </div>
</div>

{% endblock content %}